@{
    ViewData["Title"] = "Shop";
}

@model PaginationListViewModel

<div style="width: 100vw; height: 150px; position: relative; background: #FFF6C9; display: flex; justify-content: flex-start; align-items: center; padding-left: 100px;">
	<h1 style="font-size: 60px;">Shop our Products</h1>
</div>

<div class="row">
    <div class="col-3">
        <vc:product-category/>
    </div>
<div class="col-md-9" style="padding: 0 5%;">
	<div class="untree_co-section product-section before-footer-section">
		<div class="container">
			<div class="row">
				@foreach (Product prod in Model.Products)
				{
					<partial name="ProductSummary" model="prod" />
				}
			</div>
		</div>
	</div>
</div>
</div>
<div page-model="@Model.PaginationInfo" page-action="Products" page-class-enabled="true" page-class="btn"
     page-class-normal="btn-outline-dark" page-class-selected="btn-primary" 
     page-url-productCategory="@Model.CurrentCategory" class="btn-group pull-right m-1"></div>

