<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <!-- Add Content-Security-Policy header with updated directives -->
                <add name="Content-Security-Policy" value="default-src 'self'; style-src-attr 'self'; script-src-elem 'self'; img-src 'self'; style-src-elem 'self';"></add>
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>

