@model Cart
    
    <a class="nav-link" asp-page="/Cart"
       asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <img src="~/images/legocart.png" style="width: 45px;">
    
    @if (Model.Lines.Count() > 0)
    {
        <small class="navbar-text text-black cart-description">
            Cart (
            @Model.Lines.Sum(x => x.Quantity) )
            @Model.CalculateTotal().ToString("c")
        </small>
    }

</a>

